.weatherBox {
  display: block;
  margin: 5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  width: 200px;
  border-radius: 15px;
  text-align: left;
}

.temp {
  display: flex;
  justify-content: space-between;
}